<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'Team Leaders', stats_admirals_path %></li>
    <li><%= link_to 'Skaters', stats_admirals_skaters_path %></li>
    <li><%= link_to 'Forwards', stats_admirals_forwards_path %></li>
    <li><%= link_to 'Defenders', stats_admirals_defenders_path %></li>
    <li><%= link_to 'Goaltenders', stats_admirals_goaltenders_path %></li>
  </ul>
</div>
