<div class="container-fluid">
  <div class="row team-logo-top">
    <div class="col-xs-6">
      <%= link_to image_tag("swarmLarge.png", alt: "Botany Swarm"),
      teams_swarm_path, class: "img-responsive pull-right swarm-logo" %>
    </div>
    <div class="col-xs-4">
      <%= link_to image_tag("stampedeLong.png", alt: "Skycity Stampede"),
      teams_stampede_path, class: "img-responsive text-center" %>
    </div>
  </div>
  <div class="row logos-bottom">
    <div class="col-xs-4">
      <%= link_to image_tag("thunderLarge.png", alt: "Dunedin Thunder"),
      teams_thunder_path, class: "img-responsive pull-right" %>
    </div>
    <div class="col-xs-4">
      <%= link_to image_tag("redDevilsLarge.png", alt: "Canterbury Red Devils"),
      teams_reddevils_path, class: "img-responsive text-center" %>
    </div>
    <div class="col-xs-4">
      <%= link_to image_tag("admiralsLarge.png", alt: "West Auckland Admirals"),
      teams_admirals_path, class: "img-responsive" %>
    </div>
  </div>
</div>
