<div class="container-fluid">
  <div class="well">
    <ul class="nav nav-pills nav-justified">
      <li><%= link_to 'All Games', root_path %></li>
      <li><%= link_to 'Botany Swarm', schedule_swarm_path %></li>
      <li><%= link_to 'Canterbury Red Devils', schedule_reddevils_path %></li>
      <li><%= link_to 'Dunedin Thunder', schedule_thunder_path %></li>
      <li><%= link_to 'Skycity Stampede', schedule_stampede_path %></li>
      <li><%= link_to 'West Auckland Admirals', schedule_admirals_path %></li>
    </ul>
    <% @reddevils.each do |schedule| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h4 class="text-center"><%= schedule.leagueGame %> - <%= schedule.home %> v <%= schedule.away %></h4>
            </div>
            <div class="panel-body">
              <span class="pull-left"><img src="<%= schedule.homeLogo %>" alt="<%= schedule.homeLogo %>"></span>
              <span class="text-center">Details of upcoming game</span>
              <span><img class="pull-right" src="<%= schedule.awayLogo %>" alt="<%= schedule.awayLogo %>"></span>
            </div>
            <div class="panel-footer">
              <span class="pull-left"><%= schedule.venue %></span>
              <span class="text-center">Tickets</span>
              <span class="pull-right"><%= schedule.date %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
