<div class="container-fluid">
  <%= render partial: 'schedule/partials/teams' %>
  
  <% @thunder.each do |schedule| %>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 class="text-center"><%= schedule.leagueGame %> - <%= schedule.home %> v <%= schedule.away %></h4>
          </div>
          <div class="panel-body">
            <div class="col-xs-3"><img src="<%= schedule.homeLogo %>" alt="<%= schedule.homeLogo %>"></div>
            <div class="col-xs-6 text-center"><%= link_to 'Details of upcoming game', schedule_path(schedule) %></div>
            <div class="col-xs-3"><img class="pull-right" src="<%= schedule.awayLogo %>" alt="<%= schedule.awayLogo %>"></div>
          </div>
          <div class="panel-footer">
            <span><%= schedule.venue %></span>
            <span class="pull-right"><%= schedule.date %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
