<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'Team Leaders', stats_stampede_path %></li>
    <li><%= link_to 'Skaters', stats_stampede_skaters_path %></li>
    <li><%= link_to 'Forwards', stats_stampede_forwards_path %></li>
    <li><%= link_to 'Defenders', stats_stampede_defenders_path %></li>
    <li><%= link_to 'Goaltenders', stats_stampede_goaltenders_path %></li>
  </ul>
</div>
