<div class="row logo">
  <img class="center-block img-responsive" src="<%= @schedule.homeLogoLarge %>" alt="<%= @schedule.home %>">
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/home/home_points' %>
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/home/home_goals' %>
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/home/home_assists' %>
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/home/home_gaa' %>
</div>
