<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'Team Leaders', stats_reddevils_path %></li>
    <li><%= link_to 'Skaters', stats_reddevils_skaters_path %></li>
    <li><%= link_to 'Forwards', stats_reddevils_forwards_path %></li>
    <li><%= link_to 'Defenders', stats_reddevils_defenders_path %></li>
    <li><%= link_to 'Goaltenders', stats_reddevils_goaltenders_path %></li>
  </ul>
</div>
