<div class="panel panel-info">
  <div class="container-fluid panel-heading">
    <div class="col-xs-8"><h4 class="list-group-item-heading heading">Points</h4></div>
    <div class="col-xs-4">
      <h5 class="list-group-item-heading pull-right more"><%= link_to 'More >>', stats_all_path %></h5>
    </div>
  </div>
  <div class="panel-body leaders">
    <% @away_points.limit(3).each_with_index do |away, i| %>
      <div class="table-responsive">
        <span><strong><%= i += 1 %>. </strong></span>
        <span><strong><%= away.name %></strong></span>
        <span><small><small><%= away.abr %></small></small></span>
        <span class="pull-right"><strong><%= away.points %></strong></span>
      </div>
    <% end %>
  </div>
</div>
