<div class="row logo">
  <img class="center-block img-responsive" src="<%= @schedule.awayLogoLarge %>" alt="<%= @schedule.away %>">
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/away/away_points' %>
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/away/away_goals' %>
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/away/away_assists' %>
</div>
<div class="row center-block">
  <%= render 'schedule/partials/game/away/away_gaa' %>
</div>
