<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'Team Leaders', stats_swarm_path %></li>
    <li><%= link_to 'Skaters', stats_swarm_skaters_path %></li>
    <li><%= link_to 'Forwards', stats_swarm_forwards_path %></li>
    <li><%= link_to 'Defenders', stats_swarm_defenders_path %></li>
    <li><%= link_to 'Goaltenders', stats_swarm_goaltenders_path %></li>
  </ul>
</div>
