<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'Botany Swarm', teams_swarm_path %></li>
    <li><%= link_to 'Canterbury Red Devils', teams_reddevils_path %></li>
    <li><%= link_to 'Dunedin Thunder', teams_thunder_path %></li>
    <li><%= link_to 'Skycity Stampede', teams_stampede_path %></li>
    <li><%= link_to 'West Auckland Admirals', teams_admirals_path %></li>
  </ul>
</div>
