<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'All Players', players_all_path %></li>
    <li><%= link_to 'Botany Swarm', players_swarm_path %></li>
    <li><%= link_to 'Canterbury Red Devils', players_reddevils_path %></li>
    <li><%= link_to 'Dunedin Thunder', players_thunder_path %></li>
    <li><%= link_to 'Skycity Stampede', players_stampede_path %></li>
    <li><%= link_to 'West Auckland Admirals', players_admirals_path %></li>
  </ul>
</div>
