<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'Leaders', stats_path %></li>
    <li><%= link_to 'Skaters', stats_all_path %></li>
    <li><%= link_to 'Forwards', stats_forwards_path %></li>
    <li><%= link_to 'Defenders', stats_defenders_path %></li>
    <li><%= link_to 'Goaltenders', stats_goaltenders_path %></li>
  </ul>
</div>
