<div class="well">
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to 'League Leaders', stats_path %></li>
    <li><%= link_to 'Botany Swarm', stats_swarm_path %></li>
    <li><%= link_to 'Canterbury Red Devils', stats_reddevils_path %></li>
    <li><%= link_to 'Dunedin Thunder', stats_thunder_path %></li>
    <li><%= link_to 'Skycity Stampede', stats_stampede_path %></li>
    <li><%= link_to 'West Auckland Admirals', stats_admirals_path %></li>
  </ul>
</div>
